<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Ode To Food</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/secret">Secret recipe</a></li>
        </ul>
        <div ng-controller="loginController as login">
            <div ng-show="login.user.loggedIn" class="navbar-text navbar-right">
                Hello {{ login.user.username }}!
                <button class="btn btn-default btn-sm" ng-click="login.signOut()">Sign Out</button>
            </div>
            <form ng-if="!login.user.loggedIn" name="loginForm" class="navbar-form navbar-right"
                  ng-submit="login.login(loginForm)" novalidate>
                <div class="form-group">
                    <input name="username" type="text" placeholder="Username" ng-model="login.username" required />
                </div>
                <div class="form-group">
                    <input name="password" type="password" placeholder="Password" ng-model="login.password" required />
                </div>
                <input class="btn btn-default btn-sm" type="submit" value="Login" />
            </form>
        </div>
    </div>
</nav>
