<nav class="navbar navbar-default" ng-controller="navController as nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Ode To Food</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/secret">Secret recipe</a></li>
        </ul>
        <div ng-show="nav.user.loggedIn" class="navbar-text navbar-right">
            Hello {{ nav.user.username }}!
        </div>
        <form ng-if="!nav.user.loggedIn" name="loginForm" class="navbar-form navbar-right" 
              ng-submit="nav.login(loginForm)" novalidate>
            <div class="form-group">
                <input name="username" type="text" placeholder="Username" ng-model="nav.username" required />
            </div>
            <div class="form-group">
                <input name="password" type="password" placeholder="Password" ng-model="nav.password" required />
            </div>
            <input class="btn btn-default" type="submit" value="Login" />
        </form>
    </div>
</nav>
