<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="appConfiguration" type="NgPlaybook.Server.Config.AppConfiguration, ngPlaybook" />
  </configSections>

  <appConfiguration 
    tokenPath="/login" 
    expirationMinutes="2" 
    jwtKey="UHxNtYMRYwvfpO1dS4pWLKL0M3DgOj30EbN4SoBWgfc=" 
    jwtIssuer="localhost" 
    jwtAudience="all">
  </appConfiguration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="default.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>