<div ng-controller="adminController as model">
    <h3 class="text-muted">Employee Admin</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in model.employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td><div otf-rating2 value="employee.rating" min="1" max="5"></div></td>
                <td><button class="btn btn-xs btn-danger" ng-click="model.promote(employee)">Promote</button></td>
            </tr>
        </tbody>
    </table>
</div>