<div>
    <h3 class="text-muted">Restaurant Dashboard</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Overall</a></li>
                    <li><a href="#">Inventory</a></li>
                    <li><a href="#">Workplace Injuries</a></li>
                    <li><a href="#">Costs</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                This is where the chart will appear ....................................
            </div>
        </div>
    </div>
</div>