<div ng-controller="editProfileController as model" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form ng-submit="model.submit(profileForm.$valid)" name="profileForm" novalidate>

                <h2>Sign Up Now!</h2>

                <div class="form-group has-error">
                    <label for="name" class="control-label">Your name:</label>
                    <input type="text" class="form-control" id="name" name="name" required placeholder="Name" ng-model="model.user.name">
                    <div class="help-block"
                         ng-messages="profileForm.name.$error"
                         ng-messages-include="templates/messages.html">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Your email:</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="Email address" ng-model="model.user.email">
                    <div class="help-block">
                        A valid email address is required!
                    </div>
                </div>

                <div class="form-group">
                    <label for="website">Your website:</label>
                    <input type="url" class="form-control" id="website" name="website" placeholder="Website" ng-model="model.user.website">
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="phone">Your phone number:</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone" ng-model="model.user.phone">
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="dob">Birthdate:</label>
                    <input type="date" class="form-control" id="dob" name="dob" ng-model="model.user.birthdate">
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" class="form-control" id="age" name="age" placeholder="Age" min="1" max="110" ng-model="model.user.age">
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="old">How old do you feel?</label>
                    <input type="range" class="form-control" id="old" name="old" min="1" max="110" ng-model="model.user.feelLike">
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="color">Favorite color:</label>
                    <input type="color" class="form-control" id="color" name="color" ng-model="model.user.color">
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="cuisine">Favorite cuisine?</label>
                    <select name="cuisine" id="cuisine" class="form-control" ng-model="model.user.cuisine">
                        <option></option>
                        <option>Indian</option>
                        <option>German</option>
                        <option>Mexican</option>
                        <option>Thai</option>
                    </select>
                    <span class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="bio">A few words about yourself:</label>
                    <textarea class="form-control" ng-model="model.user.bio"></textarea>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="sendemail" value="true" ng-model="model.user.promotion">
                            Please send me promotional email.
                        </label>
                    </div>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="sendmail" value="true" ng-model="model.user.snailMail">
                        Please send me real mail, too.
                    </label>
                </div>

                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" value="student" ng-model="model.user.status">
                            I am a student
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" value="professional" ng-model="model.user.status">
                            I am a professional
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" value="prostudent" ng-model="model.user.status">
                            I am a professional student
                        </label>
                    </div>
                </div>

                <input class="btn btn-lg btn-primary" type="submit" value="Submit" />
            </form>
        </div>
        <div class="col-md-6">
            <pre>{{ profileForm | json }}</pre>
        </div>
    </div>
</div>