<div ng-controller="editProfileController as model" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form ng-submit="model.submit(profileForm.$valid)" name="profileForm" novalidate>

                <h2>Sign Up Now!</h2>

                <div forminput>
                    <label for="username">Your user name:</label>
                    <input type="text" id="username" name="username" required placeholder="User name"
                           ng-model="model.user.username" username starts-with="S">
                </div>

                <div forminput>
                    <label for="email">Your email:</label>
                    <input type="email" id="email" name="email" required placeholder="Email address" 
                           ng-model="model.user.email">                 
                </div>

                <div forminput>
                    <label for="website">Your website:</label>
                    <input type="url" id="website" name="website" placeholder="Website" 
                           ng-model="model.user.website">
                </div>

                <div forminput>
                    <label for="rating">Your rating:</label>
                    <otf-rating id="rating" name="rating" ng-model="model.user.rating"></otf-rating>
                </div>

                <div forminput>
                    <label for="phone">Your phone number:</label>
                    <input type="tel" id="phone" name="phone" placeholder="Phone" 
                           ng-model="model.user.phone">
                </div>

                <div forminput>
                    <label for="dob">Birthdate:</label>
                    <input type="date" id="dob" name="dob" ng-model="model.user.birthdate">
                </div>

                <div forminput>
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" placeholder="Age" min="1" max="110" 
                           ng-model="model.user.age">
                </div>

                <div forminput>
                    <label for="old">How old do you feel?</label>
                    <input type="range" id="old" name="old" min="1" max="110" 
                           ng-model="model.user.feelLike">
                </div>

                <div forminput>
                    <label for="color">Favorite color:</label>
                    <input type="color" id="color" name="color" ng-model="model.user.color">
                </div>

                <div forminput>
                    <label for="cuisine">Favorite cuisine?</label>
                    <select name="cuisine" id="cuisine" ng-model="model.user.cuisine">
                        <option></option>
                        <option>Indian</option>
                        <option>German</option>
                        <option>Mexican</option>
                        <option>Thai</option>
                    </select>
                </div>

                <div forminput>
                    <label for="bio">A few words about yourself:</label>
                    <textarea id="bio" name="bio" ng-model="model.user.bio"></textarea>
                </div>

                <div forminput>
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" value="student" 
                                   ng-model="model.user.status" required>
                            I am a student
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" value="professional" 
                                   ng-model="model.user.status" required>
                            I am a professional
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" value="prostudent" 
                                   ng-model="model.user.status" required>
                            I am a professional student
                        </label>
                    </div>
                </div>

                <div forminput class="checkbox">
                    <label>
                        <input type="checkbox" name="terms" value="true" 
                               ng-model="model.user.terms" required>
                        I accept the terms, whatever they may be. 
                    </label>
                </div>

                <input class="btn btn-lg btn-primary" type="submit" value="Submit" />
            </form>
        </div>
        <div class="col-md-6">
            <pre>{{ profileForm | json }}</pre>
        </div>
    </div>
</div>